/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Spartan-R';
    background-color: #f4f4f4;
}

/* ========== Colors ========== */

:root {
    --button-blue: #0077b6;
}

/* Fonts */
/* Spartan-ExtraLight */
@font-face {
    font-family: 'Spartan-L';
    src: url('./fonts/LeagueSpartan-ExtraLight.ttf') format('truetype');
}
/* Spartan-Regular */
@font-face {
    font-family: 'Spartan-R';
    src: url('./fonts/LeagueSpartan-Regular.ttf') format('truetype');
}
/* Spartan-SemiBold */
@font-face {
    font-family: 'Spartan-B';
    src: url('./fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
}

/* ========== Navbar Styles ========== */

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: white;
}

.navbar-icon-header-container {
    display: flex;
    align-items: center;
}

.navbar-icon-header-container {
    cursor: pointer;
}

.navbar-links-container {
    display: flex;
    align-items: center;
}

.navbar-icon {
    height: 48px;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

.navbar-header {
    font-size: 2rem;
}

.navbar-link {
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: 0.2s;
}

.navbar-link-clicked {
    color: var(--button-blue);
    font-size: 1.5rem;
    margin: 0 1rem;
}

.navbar-link-clicked {
    cursor: pointer;
}

.navbar-link:hover {
    color: var(--button-blue);
    cursor: pointer;
    margin-bottom: 0.25rem;
}

/* ========== Landing Page Styles ========== */

.landing-page-container {
    display: flex;
    justify-content: center;
    max-width: 65vw;
    margin: 10rem auto 0 auto;
}

.landing-page-image {
    height: 500px;
    width: 500px;
}

.landing-page-header {
    font-size: 6rem;
    word-wrap: wrap;
    margin-bottom: 2rem;
}

.landing-page-subheader {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.landing-page-button {
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 500px;
    font-size: 1.25rem;
    font-family: 'Spartan-R';
    transition: all 0.2s ease-in;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}

.landing-page-button:hover {
    background-color: var(--button-blue);
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 6px;
}

/* ========== Sign In ========== */

.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.sign-in-button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 500px;
    font-size: 1.25rem;
    font-family: 'Spartan-B';
    transition: all 0.2s ease-in;
    width: 50%;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.card-header-icon-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-header {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.card-sub-header {
    font-size: 1.25rem;
}

.card-icon {
    height: 64px;
    margin-right: 0.5rem;
}

.helper-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.helper-header {
    font-size: 1.25rem;
}

.helper-link {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: var(--button-blue);
    text-decoration: underline;
}

.helper-link {
    cursor: pointer;
}

/* ========== Home ========== */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container > * {
    margin: 3rem 0 1rem 0;
}

/* ========== Posts ========== */

.post-container {
    background-color: white;
    border: 1px solid gray;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.post-header-username {
    font-size: 1.5rem;
}

.post-image {
    width: 700px;
}

.post-header-date {
    font-size: 1rem;
}

.footer-no-comment-input {
    padding: 1rem;
}

.like-icon:hover {
    cursor: pointer;
}

.description-container {
    margin-top: 0.5rem;
}

.description-username {
    font-family: 'Spartan-B';
    margin-right: 0.5rem;
}

.comment-container {
    margin-top: 1rem;
}

.comment-view-container {
    margin-top: 0.5rem;
    color: gray;
}
.comment-view-container:hover {
    cursor: pointer;
}

.comment-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid gray;
}

.comment-input {
    font-family: 'Spartan-R';
    font-size: 1.1rem;
    border: none;
    outline: none;
}

/* ========== Profile ========== */
